<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    <div class="header">
        
        <div class="header-title">

            @RenderSection("header_title", required: false)
            
        </div>
        <div class="header-logout">
            <a id="logout-link" href="/logout" class="">Logout</a>
        </div>
        
    </div>
    @RenderBody()



</body>
</html>
